@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   --font-family-primary: "Raleway", sans-serif;
   --font-family-secondary: "Josefin Slab", serif;
   --font-size-h1: 2.5rem;
   --font-size-h2: 2.5rem;
   --font-size-h3: 1.5rem;
   --font-size-h4: 1.125rem;
   --font-size-text: 1rem;
}

@media all and (min-width: 1300px) {
   :root {
      --font-size-h1: 3rem;
      --font-size-h2: 2.75rem;
      --font-size-h3: 1.75rem;
      --font-size-h4: 1.25rem;
      --font-size-text: 1.125rem;
   }
}

header {
   background-color: transparent;
   border-bottom: none;
   width: 100%;
   left: 0;
   top: 0;
}

.hero {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
}

.hero-image {
   margin-top: -120px;
   z-index: 1;
   position: relative;
   flex: 1;
}

.hero-image img {
   width: 100%;
   height: auto;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
}

#about {
   margin-left: 20px;
}


nav {
   display: flex;
   border-bottom: 4px solid #f1e2c0;
   width: 95%;
   margin-bottom: 1rem;
   left: 4rem;
   z-index: 100; /* Make sure the navbar stays on top */
   position: relative;
}

nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: space-between; /* or flex-start, if needed */
   flex-wrap: nowrap; /* Prevents wrapping */
}

nav ul li {
   margin-right: 1rem; /* Adds space between items */
}

nav ul li:last-child {
   margin-right: 0; /* No margin on the last item */
}

nav a {
   display: inline-block; /* Ensures proper alignment */
   padding: 0.75em 1.5em;
   line-height: 1.5;
   white-space: nowrap; /* Keeps text on one line */
}
.paragraphs {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

a {
   color: inherit;
   text-decoration: none;
}

input, button, textarea, select {
   font: inherit;
}

strong {
   font-weight: 600;
}

h1, h2, h3, h4 {
   color: #69492a;
   font-family: "Josefin Slab", serif;
}

@media all and (min-width: 1300px) {
   body {
      padding-top: 1rem;
   }
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em;
}

header h1 {
   font-size: 2.25rem;
}

header p {
   font-size: 1rem;
}

.features li > span {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   padding: 1em;
   border: 4px solid;
   box-shadow: inset -4px -4px 0 orangered;
}

.features li > span:hover {
   background-color: #f1e2c0;
   box-shadow: inset -4px -4px 0 orangered;
   color: orangered;
   border-color: #69492a;
}

.page-footer ul a {
   display: flex;
   align-items: center;
   padding: 0.75em 1em;
   font-size: 1rem;
   font-weight: 600;
   border: 4px solid;
   text-decoration: none;
   box-shadow: inset -4px -4px 0 var(--color-primary-alt);
}

.page-footer ul a:hover {
   background-color: var(--color-primary);
   box-shadow: inset -4px -4px 0 var(--color-primary);
   color: var(--color-secondary);
   border-color: var(--color-primary);
}
